@import "tailwindcss";

:root {
  --background: #0e1113;
  --foreground: #e7e7e7;
  --accent: #d43800;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, "Helvetica Neue",
    Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
